<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mesh -->
      <package
            uri="http://www.frateranatis.org/minon/addon/mesh"
            class="de.dc.minion.model.addon.mesh.MeshPackage"
            genModel="model/mesh.xcore"/>
   </extension>

</plugin>
