<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated h2db -->
      <package
            uri="http://www.frateranatis.org/minon/addon/h2"
            class="de.dc.minion.model.addon.h2db.H2Package"
            genModel="model/h2db.xcore"/>
   </extension>

</plugin>
