<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated minion -->
      <package
            uri="http://www.frateranatis.org/minon"
            class="de.dc.minion.fx.model.MinionPackage"
            genModel="model/minion.xcore"/>
   </extension>

</plugin>
