<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mes -->
      <package
            uri="http://www.frateranatis.org/minon/addon/mes"
            class="de.dc.minion.model.addon.mes.MesPackage"
            genModel="model/mes.xcore"/>
   </extension>

</plugin>
